$font-body = 'Open Sans', sans-serif
$pink = #e72f78
$blue = #59c6f2
$yellow = #f5deb3
$text-color = #585252
$movie-color = #373739
$gray = #eaedf1
$gray-claro = #f5f6fa
$grey = #8b8b8c
flex(fd, ai, jc, ac)
	display flex
	flex-direction fd
	align-items ai
	justify-content jc
	align-content ac

font(size,weight,color)
	font-body $font-body
	font-weight weight
	font-size size
	color color

area(wi, he)
	width wi
	height he
	
button(b_color, radius, pad)
	background-color b_color
	border-radius radius
	padding pad

