@import "global"
.flex
	flex column center unset unset
.content-top
	align-self flex-start
	margin 0 2rem
	.title-top
		font 1.15rem 700 $pink
		letter-spacing 0.05rem		
		padding 1.5rem 0
		span
			color $gray-claro
.content-bottom
	width 100%
	flex unset center center unset
	flex-wrap wrap
	.card
		width 12rem
		margin 0 0.5rem 1.5rem .5rem
		border 1px solid #1a1a1a
		border-radius 0.25rem
		.img-fluid
			area 100% 18rem
			object-fit fill
	.card-body
		flex column normal space-between unset
		height 11.5rem
		background-color #1a1a1a
		.card-title
			margin-bottom 0
			font-size 1rem
			color $gray-claro
			span
				font-size 12px
				margin-left 0.3rem
				color $pink
		.card-text
			margin-bottom 0
			.img-card
				width 1rem
			.rating
				font-size 17px
				margin-left 0.5rem
				color #b6b3b6
		.logo-imdb
			border-radius 50%
			position absolute
			top 255px
			right 10px
			width 60px
	.see-btn
		margin 0
		box-shadow none
		button(#2c2c2c !important, 3px, .55rem .75rem)
		justify-content center
		text-transform none
		font 14px 500 $blue
		letter-spacing 0.02rem
		line-height 1.25rem
		
		&:hover
			background-color #3c3c3c !important
		i
			margin-left 0.5rem
@media screen and (min-width: 993px)
	.content-top .title-top
		font-size 1.87rem
